/* menu */
header {
  display: flex;
  
  align-items: center;
  justify-content: space-between;
  
  height: 50px;
  
  box-sizing: border-box;
  margin-top: 2rem;
  padding: 1rem;

  border: 1px solid #1E2D3D;
  border-radius: .8rem;
}

header ul li {
  padding: 0.1rem 0.4vw;
}

header ul li a {
  font-family: "Fira Code";
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-text-black);
  letter-spacing: 3px;
}

header #logo {
  font-family: "Fira Code";
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-text-black);
  letter-spacing: 3px;
}

a:hover {
  background: #465a320d;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

.contate-header {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

.contate-header a {
  font-family: "Fira Code";
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-text-black);
  letter-spacing: 3px;

  display: flex;
  padding: 0.5rem;
}

/* ApresentaÃ§Ã£o */

section {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;

  height: 100vh;
}


section::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  background: linear-gradient(to top, #ffffff, transparent);
  z-index: 0;
}

section #background-img img {
  width: 98%;
  height: auto;
}

section main h1 {
  max-width: 32ch;
}

section main h2 {
  color: var(--color-name);
}

.function {
  margin-top: 8rem;
}

/*Card-price*/

article h1,
article span {
  text-align: center;
  max-width: none;
}

article span {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

section main p {
  margin-top: 2rem;
}

section main span {
  font-size: 1.6rem;
}

.card {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
  gap: 5rem;
}

.card-price {
  display: flex;
  align-items: center;

  width: 50rem;
  padding: 2rem;
  border-radius: .8rem;
  background-color: var(--color-secundary);
}

article .card-price img {
  width: 50%;
  height: auto;
  margin-right: 5rem;
}

article .card .card-price div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

article .card-price div p {
  font-size: 1.2rem;
  margin: 2rem 0rem 2rem 0rem;
}

article .card-price div span {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/*SOBRE*/
#sobre {
  border: 1px solid #000;
  border-radius: .8rem;
  padding: 0rem 2rem 0rem 2rem;

}

.title {
  margin-bottom: 2rem;
}

#sobre .title h1 {
  text-align: initial;
  color: var(--color-name);
}

.diary {
  display: grid;
  grid-template-columns: 50% 50%;
  align-content: center;
  justify-items: stretch;
}

.diary .my-code-font {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.passion {
  margin: 2rem 0rem 0rem 2rem;
}

.diary .my-code-font .function,
.diary .my-code-font .passion {
  display: flex;
}

.diary .my-code-font .function span,
.diary .my-code-font .passion span{
  margin-right: 1rem;
}

.diary span {
  justify-content: initial;
  margin: 0;
}

.diary p {
  font-family: "Fira Code";
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-text-black);
  letter-spacing: 3px;

  margin: 2rem 0rem 2rem 2rem;
}

.diary .my-code-font .passion p {
  margin: 0;
}


.img-diary {
  display: flex;
  width: 90%;
}

.img-diary img{
  width: 50%;
}

.img-diary div img:nth-child(1),
.img-diary div img:nth-child(2) {
  width: 80%;
}

.skills ul {
  display: flex;
  justify-content: center;
}

.skills ul li {
  list-style: none;
  padding-right: 5rem;
  margin: 1rem 0rem 1rem 0rem;
}

.skills ul li i {
  color: var(--color-name);
  font-size: 32px;
}

